body {
    margin: 0;
}


.kacer-donald {
    width: 350px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* na hlavní ose justify */
    justify-content: space-evenly;
    /* na vedlejší ose align */
    align-items: center;
}

.kacer {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    border: 2px solid black;

}

.kulik {
    background-color: red;
    align-self: flex-end;
}

.dulik {
    background-color: blue;
    align-self: flex-start;
}

.bubik {
    background-color: green;
    width: 150px;
}

.dulik:hover {
    background-color: red;
    width: 30px;
    height: 30px;
}

.kacer:nth-child(2):hover {
    color: black;
}

.kacer:first-child {
    color: black;
}

.bubik:hover::after {
    content: "<-- kačer";
    background-color: #333;
    border: 1px solid black;
    color:white;
}